<div class="overflow-auto mt-6">
  <div class="mb-2">
    <button
      onclick="captureTable('replacement_visit')"
      class="text-sm bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded"
    >
      Capture
    </button>
  </div>
  <table
    id="replacement_visit"
    class="min-w-full text-sm border border-black text-center align-middle whitespace-nowrap"
  >
    <thead class="text-xs">
      <tr>
        <th
          rowspan="2"
          class="bg-white border border-black px-4 py-2 align-middle font-semibold"
        >
          SERVICE AREA
        </th>
        <th
          colspan="1"
          class="bg-[#FDF9E1] border border-black px-4 py-1 font-semibold"
        >
          TOTAL VISIT
        </th>
        <th
          colspan="1"
          class="bg-[#B9F7D0] border border-black px-4 py-1 font-semibold"
        >
          DISMANTLE
        </th>
        <th
          colspan="1"
          class="bg-[#FFD6D6] border border-black px-4 py-1 font-semibold"
        >
          KENDALA
        </th>
        <th
          colspan="1"
          class="bg-white border border-black px-4 py-1 font-semibold"
        >
          SISA
        </th>
      </tr>
      <tr>
        <th class="bg-[#FDF9E1] border border-black px-4 py-1 font-medium">
          HI
        </th>
        <th class="bg-[#FDF9E1] border border-black px-4 py-1 font-medium">
          HI
        </th>
        <th class="bg-[#FDF9E1] border border-black px-4 py-1 font-medium">
          HI
        </th>
        <th class="bg-[#FDF9E1] border border-black px-4 py-1 font-bold">
          ASSIGN
        </th>
      </tr>
    </thead>
    <tbody>
      {% set wilayah = [ 'BOGOR', 'CIAPUS - PAGELARAN', 'CIAWI - CISARUA',
      'CIBADAK', 'CIBINONG', 'CILEUNGSI', 'CINERE', 'DEPOK', 'DRAMAGA', 'GUNUNG
      PUTRI - CIANGSANA', 'KEDUNG HALANG', 'PARUNG - SEMPLAK', 'PASIR MAUNG',
      'SUKABUMI', 'SUKMAJAYA' ] %} {% for nama in wilayah %}
      <tr>
        <td class="border border-black px-2 py-1 text-left">{{ nama }}</td>
        <td class="border border-black px-2 py-1">0</td>
        <td class="border border-black px-2 py-1">0</td>
        <td class="border border-black px-2 py-1">0</td>
        <td class="border border-black px-2 py-1">0</td>
      </tr>
      {% endfor %}
      <tr class="bg-[#E6FBFF] font-semibold">
        <td class="border border-black px-2 py-1 text-center">TOTAL</td>
        <td class="border border-black px-2 py-1">0</td>
        <td class="border border-black px-2 py-1">0</td>
        <td class="border border-black px-2 py-1">0</td>
        <td class="border border-black px-2 py-1">0</td>
      </tr>
    </tbody>
  </table>
</div>
