<div class="overflow-auto mt-6">
  <div class="flex justify-between items-center mb-2"></div>
  <div class="mb-2">
    <button
      onclick="captureTable('dismantle_visit')"
      class="text-sm bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded"
    >
      Capture
    </button>
  </div>
  <table
    id="dismantle_visit"
    class="min-w-full text-sm border border-black text-center align-middle whitespace-nowrap"
  >
    <thead class="text-xs">
      <tr class="font-bold">
        <th rowspan="2" class="bg-blue-500 border border-black px-4 py-2 align-middle">
          SERVICE AREA
        </th>
        <th colspan="1" class="bg-Sky-500 border border-black px-4 py-1">
          TOTAL VISIT
        </th>
        <th colspan="1" class="bg-lime-600 border border-black px-4 py-1">
          DISMANTLE
        </th>
        <th colspan="1" class="bg-rose-400 border border-black px-4 py-1">
          KENDALA
        </th>
        <th colspan="1" class="bg-amber-600 border border-black px-4 py-1">
          SISA
        </th>
      </tr>
      <tr>
        <th class="bg-yellow-50 border border-black px-4 py-1 font-medium">HI</th>
        <th class="bg-yellow-50 border border-black px-4 py-1 font-medium">HI</th>
        <th class="bg-yellow-50 border border-black px-4 py-1 font-medium">HI</th>
        <th class="bg-Amber-600 border border-black px-4 py-1 font-bold">ASSIGN</th>
      </tr>
    </thead>
    <tbody>
      {% for row in visit_dismantle if not row.is_total %}
      <tr>
        <td class="border border-black px-2 py-1 text-left">{{ row.service_area }}</td>
        <td class="border border-black px-2 py-1">{{ row.visit or 0 }}</td>
        <td class="border border-black px-2 py-1">{{ row.dismantle or 0 }}</td>
        <td class="border border-black px-2 py-1">{{ row.kendala or 0 }}</td>
        <td class="border border-black px-2 py-1">{{ row.sisa_assign or 0 }}</td>
      </tr>
      {% endfor %}

      {% for total in visit_dismantle if total.is_total %}
      <tr class="bg-[#E6FBFF] font-semibold">
        <td class="border border-black px-2 py-1 text-center align-middle">TOTAL</td>
        <td class="border border-black px-2 py-1">{{ total.jumlah_visit or 0 }}</td>
        <td class="border border-black px-2 py-1">{{ total.jumlah_dismantle or 0 }}</td>
        <td class="border border-black px-2 py-1">{{ total.jumlah_kendala or 0 }}</td>
        <td class="border border-black px-2 py-1">{{ total.jumlah_sisa_assign or 0 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
